# ignore IDE/hidden/OS cache files
.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini
config.php

# ignore Composer downloads
/vendor/*
/uploads/*
# keep some hiddens
!.htaccess
!/.gitignore
!/.cpanel.yml
!/.travis.yml
