{% extends "base.html" %}

{% block content %}
    <h3> Similarity Result </h3>
    <div>
        <textarea style="margin:0 auto;display: block;height: 100px;" class=hasil>Total: {{ presentase }} %&#13;&#10;Circle: {{ presentaseling }} %&#13;&#10;Point: {{ presentasetitik }} %&#13;&#10;Line: {{ presentasegaris }} %</textarea>
    </div>
    <table border=1> 
        <thead>
            <tr>
                <td> Image anotated reference </td>
                <td> Image anotated </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <img src="/uploads/{{path2}}" /></td>
                <td> <img src="/uploads/{{path3}}" /> </td>
            </tr>
            <tr>
                <td> {{analisis1}} </td>
                <td> {{analisis2}} </td>
            </tr>
        
        </tbody>
    </table> 
{% endblock %}